# Fichiers racine
.env
kaggle.json
api.log
# Dossiers
data/
tempImage/
mlruns/
logs/
models/
venv/
streamlit_env/
__pycache__/
# Exceptions
!data/README.md
!tempImage/README.md
!mlruns/README.md
!logs/README.md
!models/README.md