numpy<2.0.0
tqdm
pandas
pillow
matplotlib
scipy
tensorflow==2.10.0
fastapi
uvicorn
python-dotenv
PyJWT
streamlit
schedule
PyGithub
mlflow
openpyxl
scikit-learn
psutil
GPUtil
httpx
kaggle
python-multipart
flake8